<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <link rel="stylesheet" href="./css/home.css">
  <title>Home</title>
</head>
<body>
  {{>nav}}
  <main class="main">
   {{>selection}}
  </main>
  <script>
    $('.quiz_img img').on('click', (e) => {
      let category = e.target.alt
      window.location = `/quiz/${category}`
    })
  </script>
</body>
</html>