<nav class="nav">
  <div class="nav_logo">
    Sean's Quiz
  </div>
  <div class="nav_menu">
    <span>Soccer</span>
    <span>Basketball</span>
    <span>Baseball</span>
  </div>
  <div class="nav_control">
    <p>Welcome {{userInfo.username}}</p>
    <button class="nav_login">Login</button>
    <button class="nav_signup">Signup</button>
    <button class="nav_logout">Logout</button>
  </div>
</nav>