<section class="quiz_list">
  <h2>Quiz</h2>
  <ol type="1">
    {{#each data}}  
    <li class="quiz" id={{this._id}}>
      <div style="display:none;" class="answer">{{this.answer}}</div>
      <p class="quiz_question">{{this.question}}</p>
      <div>
        {{#each this.options}}
        <div class="options">
          <input type="radio" class="radio_btn" name="select" />
          <label >{{this}}</label>
        </div>
        {{/each}}
      </div>
    </li>
    {{/each}}
  </ol>
  <div class="btn_control">
    <button class="btn_prev">Privious</button>
    <button class="btn_next">Next</button>
    <button class="btn_submit" style="display:none">Submit</button>
  </div>
</section>
