<section class="quiz_container">
  <div class="quiz_img" id="soccer">
    <img src="./assets/soccer.png" alt="soccer" />
  </div>
  <div class="quiz_img" id="basketball">
    <img src="./assets/basketball.jpeg" alt="basketball" />
  </div>
  <div class="quiz_img" id="baseball">
    <img src="./assets/baseball.png" alt="baseball" />
  </div>
</section>